[submodule "magit"]
	path = magit
	url = https://github.com/philjackson/magit.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/philjackson/magit.git
[submodule "elisp/clojure-mode"]
	path = elisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "elisp/scala-mode"]
	path = elisp/scala-mode
	url = git@github.com:afeinberg/scala-mode.git
[submodule "elisp/tuareg-mode"]
	path = elisp/tuareg-mode
	url = git@github.com:afeinberg/tuareg-mode.git
[submodule "elisp/haskellmode-emacs"]
	path = elisp/haskellmode-emacs
	url = git://github.com/afeinberg/haskellmode-emacs.git
[submodule "elisp/smex"]
	path = elisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "elisp/lua-mode"]
	path = elisp/lua-mode
	url = git@github.com:afeinberg/lua-mode.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = https://github.com/antifuchs/slime.git
