[submodule "magit"]
	path = magit
	url = https://github.com/philjackson/magit.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/philjackson/magit.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = git://sbcl.boinkor.net/slime.git
