[submodule "elisp/clojure-mode"]
	path = elisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "elisp/scala-mode"]
	path = elisp/scala-mode
	url = git@github.com:afeinberg/scala-mode.git
[submodule "elisp/tuareg-mode"]
	path = elisp/tuareg-mode
	url = git@github.com:afeinberg/tuareg-mode.git
[submodule "elisp/smex"]
	path = elisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "elisp/lua-mode"]
	path = elisp/lua-mode
	url = git@github.com:afeinberg/lua-mode.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = https://github.com/antifuchs/slime.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "elisp/cider"]
	path = elisp/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "elisp/popup-el"]
	path = elisp/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "elisp/s.el"]
	path = elisp/s.el
	url = https://github.com/magnars/s.el
[submodule "elisp/dash.el"]
	path = elisp/dash.el
	url = https://github.com/magnars/dash.el
[submodule "elisp/fsharpbinding"]
	path = elisp/fsharpbinding
	url = https://github.com/fsharp/fsharpbinding.git
[submodule "elisp/auto-complete-clang"]
	path = elisp/auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang
[submodule "elisp/haskell-mode"]
	path = elisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "elisp/go-mode"]
	path = elisp/go-mode
	url = https://github.com/dominikh/go-mode.el
